.btn_container {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.cart_btn--alt {
    font-family: "Bebas Neue", cursive;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.618);
    border: 1px solid rgba(0, 0, 0, 0.166);
    padding: 0.2rem 1rem;
    border-radius: 5px;
    background-color: rgba(37, 37, 37, 0.254);
}

.cart_btn--alt:hover {
    background-color: rgba(37, 37, 37, 0.33);
    color: rgba(255, 255, 255, 0.825);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.504);
}