.item_detail-container {
    width: auto;
    height: auto;
    min-height: 10vh;
    margin: 0 5rem 0rem 5rem;
}
 @media screen and (max-width: 1367px){
    .item_detail-container {
        margin: 0 5rem 5rem 5rem;
    }
}
/*
@media screen and (max-width: 1050px){
    .item_detail-container {
        margin: 0 5rem 4rem 5rem;
    }
}


 */