.tlt_footer {
    position: relative;
    margin-bottom: -1.5rem;
    font-family: "Bebas Neue", cursive;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.tlt-text {
    color: rgba(0, 0, 0, 0.644);
}

.tlt-quantity {
    margin-left: .4rem;
    color: rgba(0, 0, 0, 0.752);
}

.checkout_products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.checkout_products-container {
    width: 90%;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.check_tittle {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 1.8rem;
}